{% load static %}

<div id="meet-the-wordbank-team" class="section level3">
  <div class="row">
    {% for person in persons %}
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="{{ person.url }}" target="_blank">
          <img src="{% static person.image %}" style="width:100%; object-fit:cover"/>
        </a>
        <div class="caption">
          <h3>{{ person.name }}</h3>
          <p>{{ person.affiliation }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <p>
  Thanks to <a href="http://www.brockferguson.com/">Brock Ferguson</a> for help with database design and optimization, and to Rose Schneider for logo design.
  </p><br>

</div>
