django>=1.11.15
wsgiref==0.1.2
MySQL-python==1.2.5
xlrd==1.1.0
python-dateutil==2.6.1
six==1.11.0
sqlparse==0.2.4
django-extensions==2.0.2
faulthandler==3.0
gdata
git+git://github.com/tonyg/python-rfc3339
awscli
