asgiref==3.3.1
awscli==1.19.43
botocore==1.20.43
colorama==0.4.3
Django==3.1.7
django-extensions==3.1.1
docutils==0.15.2
gdata==2.0.18
jmespath==0.10.0
mysqlclient==2.0.3
pyasn1==0.4.8
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.3.6
six==1.15.0
sqlparse==0.4.1
tonyg-rfc3339 @ git+git://github.com/tonyg/python-rfc3339@ed7ebfc3c6ec80cc0bb4708e7d44eaa02148472d
urllib3==1.26.4
xlrd==2.0.1
