container_commands:
  01_upgrade_pip:
    command: "pip install --upgrade pip"
    leader_only: false
  02_upgradde_setuptools:
    command: "pip install --upgrade setuptools"
    leader_only: false
  03_requirements:
    command: "pip install -r requirements.txt"
    leader_only: true
    
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "wordbank.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "wordbank.wsgi:application"
    NumProcesses: 6
    NumThreads: 20
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
