
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "wordbank.settings"
    "PYTHONPATH": "/opt/python/current/app/wordbank:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: wordbank/wordbank/wsgi.py
    NumProcesses: 6
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
