container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && ./manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && ./manage.py collectstatic --noinput"
  03_populate_instrument:
    command: "source /opt/python/run/venv/bin/activate && ./manage.py populate_instrument"
  04_populate_category:
    command: "source /opt/python/run/venv/bin/activate && ./manage.py populate_category"
  05_populate_items:
    command: "source /opt/python/run/venv/bin/activate && ./manage.py populate_items"
  06_populate_momed:
    command: "source /opt/python/run/venv/bin/activate && ./manage.py populate_momed"
  07_populate_source:
    command: "source /opt/python/run/venv/bin/activate && ./manage.py populate_source"
  08_create_instrument_schemas:
    command: "source /opt/python/run/venv/bin/activate && ./manage.py create_instrument_schemas"
  09_import_datasets:
    command: "source /opt/python/run/venv/bin/activate && ./manage.py import_datasets"
