.nav_element {
  font-size: 20px;
}

.nav_title {
  font-size: 48px;
  /*color: #E44424;*/
  color: #fff;
}

.navbar-static-top {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #6baed6;
  /*background-color: #67BCDB;*/
}

.content {
  color: #000;
}
.navbar-default .navbar-nav>li>a {
  /*color: #E44424;*/
  color: #fff;
}
