.about {
  font-size: 28px;
  font-family: "Lucida Grande";
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-image {
  height: 150px;
  float: right;
}

a:link {
    text-decoration: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.center {
  text-align: center;
}

.langLead {
  margin-bottom: 0px;
};
