.less-pad {
  padding-bottom: 20px;
  padding-top: 20px;
}

.left-image {
  max-height: 160px;
}

a:link {
  text-decoration: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.lang-lead {
  margin-bottom: 0px;
}

/*http://stackoverflow.com/questions/31944691/bootstrap-5-column-layout*/
.col-half-offset{
    margin-left:4.166666667%
}
