
#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/



[mysqld]
bind-address		= 0.0.0.0
thread_stack		= 512K
log_error = /var/log/mysql/error.log


skip-grant-tables
