{% load static %}

<div id="meet-the-wordbank-team" class="section level3">
  {# <h3>Site Contributors</h3> #}
  <div class="row">
    {% for person in persons %}
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="{{ person.url }}" target="_blank">
          <img src="{% static person.image %}" style="width:100%"/>
        </a>
        <div class="caption">
          <h3>{{ person.name }}</h3>
          <p>{{ person.affiliation }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <p>
  Thanks to <a href="http://www.brockferguson.com/">Brock Ferguson</a> for help with database design and optimization, and to Rose Schneider for logo design.
  </p>

  <div id="who-funds-wordbank" class="section level3">
    <h3>Who funds Wordbank?</h3>
    <p>The team would like to thank our supporters! The construction of Wordbank was funded by a grant from the National Science Foundation (#1451577), as well as generous support from the MB-CDI Advisory Board.</p>
  </div>

</div>
