{% extends "base.html" %}
{% load static %}

{% block title %}Wordbank | About{% endblock %}

{% block content %}

<div class = "row">
    <div class="col-md-9">
        {% include "about_us/about_us.html" %}
    </div>

    <div class="col-md-3" style="padding-top: 60px;">
        <div class="panel panel-primary">
            <div class="list-group">
                <a href="mailto:wordbank-contact@stanford.edu" target="_blank" class="list-group-item">
                    Contact us!
                </a>
                <a href="https://github.com/langcog/wordbank" target="_blank" class="list-group-item">
                    Wordbank on Github
                </a>            
                <a href="http://langcog.github.io/wordbankr" target="_blank" class="list-group-item">
                    Tutorial on wordbankr
                </a>
                <a href="https://github.com/langcog/wordbankr" target="_blank" class="list-group-item">
                    Wordbankr on Github
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
