{% extends "base.html" %}
{% load static %}

{% block title %}Wordbank | About{% endblock %}

{% block content %}

<div class = "row">
    <div class="col-md-9">
        <h1 class="title toc-ignore">About Us</h1>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu1">Site Contributors</a></li>
            <li ><a data-toggle="tab" href="#home">Papers and Publications</a></li>
            
        </ul>
          
        <div class="tab-content" id="nav-tabContent">
            <div id="home" class="tab-pane fade">
                {% include "about_us/_publications.html" %}
            </div>
            <div id="menu1" class="tab-pane fade in active">
                {% include "about_us/about_us.html" %}  
            </div>
        </div>
    </div>

    <div class="col-md-3" style="padding-top: 60px;">
        <div class="panel panel-primary">
            <div class="list-group">
                <a href="mailto:wordbank-contact@stanford.edu" target="_blank" class="list-group-item">
                    Contact us!
                </a>
                <a href="https://github.com/langcog/wordbank" target="_blank" class="list-group-item">
                    Wordbank on Github
                </a>            
                <a href="http://langcog.github.io/wordbankr" target="_blank" class="list-group-item">
                    Tutorial on wordbankr
                </a>
                <a href="https://github.com/langcog/wordbankr" target="_blank" class="list-group-item">
                    Wordbankr on Github
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
{{ block.super }}
<style>
.thumbnail {
    height: 320px;
}
.thumbnail > img, .thumbnail > a > img  {
    overflow-y: hidden;
    
}
</style>
{% endblock %}