{% extends "base.html" %}
{% load static %}

{% block title %}Wordbank | About{% endblock %}

{% block content %}

<link rel="stylesheet" href={% static "css/about.css" %}>

<div class = "row">
    <div class="col-md-11">
        <h1 class="title toc-ignore">About Us</h1>
        <p>
            Contact us at 
            <a href="mailto:wordbank-contact@stanford.edu" target="_blank">wordbank-contact@stanford.edu</a>
            with any questions or concerns.
        </p><br>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu1">Site Contributors</a></li>
            <li ><a data-toggle="tab" href="#home">Papers and Publications</a></li>
            
        </ul>
          
        <div class="tab-content" id="nav-tabContent">
            <div id="home" class="tab-pane fade">
                {% include "about_us/_publications.html" %}
            </div>
            <div id="menu1" class="tab-pane fade in active">
                {% include "about_us/about_us.html" %}  
            </div>
        </div>
    </div>
</div>
{% endblock %}
