{% extends "base.html" %}
{% load static %}

{% block title %}
Wordbank | Analyses
{% endblock %}

{% block content %}

{# <link rel="stylesheet" href={% static "third_party/dc.css" %}> #}
<link rel="stylesheet" href={% static "css/analyses.css" %}>

<div class="panel panel-primary">
  <div class="panel-heading">
    <p class="panel-title section-name">Wordbank Book</p>
  </div>
  <div class="panel-body" id="wordbank_book">
    Many analyses of Wordbank data are described in detail in the Wordbank Book, available at <a href="https://wordbank-book.stanford.edu">wordbank-book.stanford.edu</a> and from MIT Press.
  </div>
</div>

{% for section in analyses %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <p class="panel-title section-name">{{ section.title }}</p>
  </div>

  <div class="panel-body">
    {% for app in section.apps %}
    <div class="col-sm-3">
      <a href="/analyses?name={{ app.name }}">
        <p class="analysis-name">{{ app.title }}</p>
        <div class="thumbnail">
          <img src="{% static app.thumbnail %}" style="width:100%"/>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endfor %}

{% endblock %}
