{% extends "base.html" %}
{% load static %}

{% block title %}
Wordbank | Data
{% endblock %}

{% block content %}

{# <link rel="stylesheet" href={% static "third_party/dc.css" %}> #}
<link rel="stylesheet" href={% static "css/analyses.css" %}>

<h1>Data</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <p class="panel-title section-name">Wordbank Book</p>
  </div>
  <div class="panel-body" id="wordbank_book">
    Many analyses of Wordbank data are described in detail in the Wordbank Book, available at <a href="https://wordbank-book.stanford.edu" target="_blank">wordbank-book.stanford.edu</a> and from MIT Press.
  </div>
</div>

{% for section in analyses %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <p class="panel-title section-name">{{ section.title }}</p>
  </div>

  <div class="panel-body">
    {% for app in section.apps %}
    <div class="col-sm-3">
      <a href="/data?name={{ app.name }}">
        <p class="analysis-name">{{ app.title }}</p>
        <div class="thumbnail">
          <img src="{% static app.thumbnail %}" style="width:100%" alt="App logo"/>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endfor %}

<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><p class="panel-title section-name">Accessing data from Wordbank</p></div>
      <!-- <div class="panel-body"></div> -->
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Interactive apps</h4>
            <p>The apps above allow analyses of normative growth in vocabulary size and individual item trajectories. They also allow for download of several forms of tabular data. These apps cover some of the most common use cases for Wordbank data but not all.</p>
          </li>

          <li class="list-group-item">
            <h4 class="list-group-item-heading">Programmatic access</h4>
            <p>In addition to these apps, you can access Wordbank data using the <a href="https://github.com/langcog/wordbankr/" target="_blank">wordbankr</a> R package. There is a data access tutorial for wordbankr available <a href="https://langcog.github.io/wordbankr/articles/wordbankr.html" target="_blank">here</a>. The R package is the most flexible way to work with data from the database.</p>
          </li>

          <li class="list-group-item">
            <h4 class="list-group-item-heading">Wordbank book</h4>
            <p>If you are interested in item- and group-related analyses of the Wordbank data that are not available through the Shiny apps, it may also be helpful to identify the relevant analysis in the <a href="https://wordbank-book.stanford.edu/" target="_blank">Wordbank book</a> and look at the <a href="https://github.com/langcog/wordbank-book" target="_blank">code for those analyses</a>.</p>
          </li>

          <li class="list-group-item">
            <h4 class="list-group-item-heading">Previous versions</h4>
            <p>Periodic snapshots of the Wordbank database are available for download. For instructions on how to access them, see <a href="https://github.com/langcog/wordbank/wiki/Accessing-previous-database-versions" target="_blank">here</a>.</p>
          </li>
        </ul>

    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><p class="panel-title section-name">About Wordbank infrastructure</p></div>
      <!-- <div class="panel-body"></div> -->
      <ul class="list-group">
        <li class="list-group-item">
          Wordbank is a <a href="https://www.mysql.com/" target="_blank">MySQL</a> database and built using <a href="https://www.djangoproject.com/" target="_blank">Django</a><br>
          <a href="https://github.com/langcog/wordbank" target="_blank">github.com/langcog/wordbank</a>
        </li>
        <li class="list-group-item">
          Wordbank's interactive reports are created using <a href="http://shiny.rstudio.com/" target="_blank">Shiny</a>
          <a href="https://github.com/langcog/wordbank-shiny" target="_blank">github.com/langcog/wordbank-shiny</a>
        </li>
        <li class="list-group-item">
          The wordbankr package is written in <a href="https://www.r-project.org/" target="_blank">R</a> and <a href="https://www.tidyverse.org/" target="_blank">tidyverse</a>
          <a href="https://github.com/langcog/wordbankr" target="_blank">github.com/langcog/wordbankr</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><p class="panel-title section-name">Unilemmas</p></div>
      <div class="panel-body">
        Wordbank includes mappings between words in different languages using hand-checked translation equivalents called "unilemmas" (universal lemmas). These allow comparison of similar conceptual material across different languages. Translation equivalence is a very tricky concept! Just think about how the Spanish word "reloj" should be translated to English - is it "clock"? "watch"? or both? We have an extensive policy that has guided our choices, <a href="https://github.com/langcog/update_unilemmas/blob/main/unilemma_policy.md" target="_blank">available here</a>. You can also see and contribute to our <a href="https://github.com/langcog/update_unilemmas" target="_blank">unilemma codebase</a>.
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><p class="panel-title section-name">Teaching</p></div>
      <div class="panel-body">
        Wordbank can be a useful teaching tool. For some examples, see this <a href="https://docs.google.com/presentation/d/1VnhKdCBOzgxaaCwm3CsTtF-Cu3gfsl7Kgz1CwQ5c_SE/edit" target="_blank">in-class exercise</a> and accompanying <a href="https://docs.google.com/document/d/1UOHuF26t19HLPswsVm46ivA7nS98Z3G9ht9GwCtJYJ0/edit" target="_blank">assignment</a> created by <a href="https://sites.google.com/site/caitlinmfausey/" target="_blank">Caitlin Fausey</a>, as well as the <a href="https://github.com/mikabr/acq-tools" target="_blank">materials</a> for a workshop taught by <a href="https://web.stanford.edu/~mcfrank/" target="_blank">Michael Frank</a> and <a href="https://mikabr.io/" target="_blank">Mika Braginsky</a>.
      </div>
    </div>
  </div>

</div>

{% endblock %}
