{% extends "base.html" %}
{% load static %}

{% block title %}
Wordbank | Analyses
{% endblock %}

{% block content %}

<!--
<div class="alert alert-dismissible alert-warning" align="center">
  <p>Wordbank is under early development, and we make no guarantees about the accuracy of its data. Use at your own risk.</p>
  <p>Have feedback? Email us at <a href="mailto:wordbank-contact@stanford.edu" target="_blank">wordbank-contact@stanford.edu</a>!</p>
</div>
-->

<div>
<ul class="nav nav-tabs" id="main-tabs">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Data <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" id="drop-tabs-data">
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Reports <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" id="drop-tabs-reports">
    </ul>
  </li>
</ul>
</div>

<div id="wait" class="loader" align="center">
  <p class="lead" style="margin-top:100px;">Please wait...</p>
  <img src="{% static 'images/loading.gif' %}">
</div>

<div id="content">
  <iframe style="border:none; width:1100px; height:1500px" id="analysis"  src="{{ source }}"></iframe>
</div>

<script>
    $('#content').hide();

    var displayAnalysis = function() {
        console.log('loaded!');
        $('#wait').hide();
	    $('#content').show();
    }

    $('#analysis').load(function() {
        displayAnalysis();
    });
</script>

<script>
$.getJSON("static/json/analyses.json", function(data) {
  var currentApp = window.location.search.split('=')[1];
  var main = $('#main-tabs');
  var menuData = $('#drop-tabs-data');
  var menuReports = $('#drop-tabs-reports');
  for (var i in data) {
    var app = data[i];
    if (app['type'] == 'data') {
      var li = $('<li>').attr('role', "presentation").prependTo(menuData)
    } else if (app['type'] == 'reports') {
      var li = $('<li>').attr('role', "presentation").prependTo(menuReports)
    } else {
      var li = $('<li>').attr('role', "presentation").prependTo(main)
    }
    if (app['name'] == currentApp) {
      li.attr('class', "active");
    }
    if (app['source'] == 'shiny') {
      var link = $('<a>').attr('href', '/analyses?name=' + app['name']).text(app['title']).appendTo(li);
    } else if (app['source'] == 'html') {
      var link = $('<a>').attr('href', app['link']).attr('target', '_blank').text(app['title']).appendTo(li);
    }
  };
}).error(function(error){console.log(error);}).fail(function(){console.log(arguments);})
</script>

{% endblock %}
