{% extends "base.html" %}
{% load static %}

{% block title %}
Wordbank | Data
{% endblock %}

{% block content %}

<div>
  <ul class="nav nav-tabs" id="main-tabs">

    {% for section in analyses %}

      {% if section.name == "viz" %}
        {% for app in section.apps %}
          <li role="presentation" {% if app.name == name %} class="active"{% endif %}>
            <a href="{% url 'data' %}?name={{ app.name }}">{{ app.title }}</a>
          </li>
        {% endfor %}
      {% endif %}

      {% if section.name == "data" %}
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ section.title }} <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu" id="drop-tabs-data">
          {% for app in section.apps %}
            <li role="presentation"> 
              <a href="{% url 'data' %}?name={{ app.name }}">{{ app.title }}</a>
            </li>
          {% endfor %}
          </ul>
        </li>
      {% endif %}

    {% endfor %}

  </ul>
</div>

<div id="wait" class="loader" align="center">
  <p class="lead" style="margin-top:100px;">Please wait...</p>
  <img src="{% static 'images/loading.gif' %}" alt="loading image">
</div>

<div id="content">
  <iframe style="border:none; width:1100px; height:1500px" id="analysis"  src="{{ source }}" title="R data analysis frame"></iframe>
</div>

<script>
    $('#content').hide();

    var displayAnalysis = function() {
        console.log('loaded!');
        $('#wait').hide();
	    $('#content').show();
    }

    $('#analysis').load(function() {
        displayAnalysis();
    });
</script>

{% endblock %}
