<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="author" content="Ranjay Krishna">
  <link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}" />
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" mce_href="{% static 'images/favicon.ico' %}" />
</head>
<body class="content">


  {% block styles %}
  <link rel="stylesheet" href={% static "third_party/bootstrap3/css/bootstrap.css.map" %}>
  <link rel="stylesheet" href={% static "third_party/bootstrap3/css/bootstrap.min.css" %}>
  <link rel="stylesheet" href={% static "css/base.css" %}>
  {% endblock %}

  {% block scripts %}
  <script src={% static "third_party/jquery-1.11.0.min.js" %}></script>
  <script src={% static "third_party/bootstrap3/js/bootstrap.min.js" %}></script>
  {% endblock %}


  <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--li class="nav_image"><img style="" src="{% static 'images/logo.png' %}"></li-->
                    <li class="nav_title"><a href="/"><span style="">Wordbank</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav_element"><a href="/about">About</a></li>
                    <li class="nav_element"><a href="/search">Search</a></li>
                    <li class="nav_element"><a href="/stats">Statistics</a></li>
                    <li class="nav_element dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                      <ul class="dropdown-menu" id="reports">
                      </ul>
                    </li>
                    <li class="nav_element"><a href="/contribute">Contribute</a></li>
                    <li class="nav_element"><a href="/blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>

  {% block extra_header %}
  {% endblock %}

  {% block morestyles %}
  {% endblock %}

  {% block morescripts %}
  {% endblock %}

  <div class="container">
  {% block content %}
  {% endblock %}
  </div>

  {% block footer %}
  <div style="height:100px;" class="footer">

  </div>
  {% endblock %}

  <script>
    $.getJSON("static/json/reports.json", function(data) {
      var reports_ul = $('#reports');
      for (var i in data) {
        var app = data[i];
        console.log(reports_ul)
        var li = $('<li>').appendTo(reports_ul);
        var list = $('<a>').attr('href', '/reports?id=' + app['app_directory']).text(app['app_name']).appendTo(li);
      }
    }).error(function(error){console.log(error);}).fail(function () { console.log(arguments); });
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56408324-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
