{% extends "base.html" %}
{% load static %}

{% block title %}
Wordbank | Blog
{% endblock %}

{% block content %}
<link rel="stylesheet" href={% static "css/blog.css" %}>

<div class="row">

	<div class="col-md-6 col-md-offset-1">
		{% for entry in entries %}
		<div class="row" style="margin-top: 20px; margin-bottom: 10px;">
			<span class="label label-default">{{ entry.time }}</span>
				<!--<a href={{ entry.author_link }} target="_blank">-->
					<span class="label label-info">{{ entry.author }}</span>
				<!--</a>-->
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">{{ entry.title }}</h3>
				</div>
				<div class="panel-body">{{ entry.contents }}</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="col-md-3 col-md-offset-1 center">
		<img src="{% static 'images/walrus.png' %}" width="90%">
	</div>

	<div class="col-md-3 col-md-offset-1" style="margin-top: 20px;">

		{% if events %}
		<div class="panel panel-info" >
		  <div class="panel-heading">Upcoming Wordbank events</div>
		  <ul class="list-group">
				{% for event in events %}
		    <li class="list-group-item">
		    	{{ event.where }}<br>
		    	<i>{{ event.when}}</i> <br>
					<b>
					{% if link %}
		    		<a href={{ event.link }} target="_blank">{{ event.what }}</a>
					{% else %}
						{{ event.what }}
					{% endif %}
					</b>
		    </li>
				{% endfor %}
		  </ul>
		</div>
		{% endif %}

		{% if resources %}
		<div class="panel panel-info">
		<div class="panel-heading">Related resources</div>
		  <div class="list-group">

			{% for resource in resources %}
		  <a href={{ resource.link }} target="_blank" class="list-group-item">
		    <h4 class="list-group-item-heading">{{ resource.name }}</h4>
		    <p class="list-group-item-text list-group-item-subtext">{{ resource.description }}</p>
		  </a>
			{% endfor %}
		  </div>
		</div>
		{% endif %}

	</div>


</div>

{% endblock %}
