{% extends "base.html" %}
{% load static %}

{% block title %}
Wordbank | Contributors
{% endblock %}

{% block content %}

<div class="lead">
  <p>Thank you to all of the generous researchers who have contributed data to Wordbank!</p>
</div>

<ol id="citation_rules">
  <li>Researchers publishing or presenting work using data in the Wordbank database must cite the publications linked to that dataset, as shown below in the contributors list. (If there is no linked citation, then no citation for the individual dataset is necessary).</li>

  <li>For tracking use of the database and its affiliated tools, please also cite: Frank, M. C., Braginsky, M., Yurovsky, D., & Marchman, V. A. (2016). Wordbank: An open repository for developmental vocabulary data. Journal of Child Language. doi: 10.1017/S0305000916000209. <a href="http://langcog.stanford.edu/papers_new/frank-2016-jcl.pdf">[pdf]</a></li>

  <li>If researchers use more than five datasets, we ask users as a courtesy to cite all data. But in case of severe space limitations, the database as a whole may be cited.</li>

  <li>In addition, since the site contains many unpublished English datasets, users of the full English dataset need only cite the Wordbank database. Users of the normative English data (accessed by selecting "normative data only") should cite Fenson et al. (2007) as below.</li>

  <li>Since the Wordbank site is dynamic, we recommend that you list the date of download for your data in your manuscript. For example: "In these analyses, item-level responses were extracted from all available forms in English from Wordbank (Frank et al., 2016). Data were downloaded on 3/20/17."</li>
</ol>

<p>To contribute your data, please email <a href="mailto:wordbank-contact@stanford.edu">wordbank-contact@stanford.edu</a>.</p>
<br>

<div class="row">
  {% for column, language_sources_list in columns.items %}
  <div class="col-md-6">
    {% for language_sources in language_sources_list %}
    <div class="panel panel-primary">
      <div class="panel-heading">{{ language_sources.0 }}</div>
      <ul class="list-group">
        {% for entry, n in language_sources.1.items %}
        <li class="list-group-item">
          <h5 class="list-group-item-heading">{{ entry.0 }} &nbsp;
          <span class="label label-info">{{ entry.1 }}</span>
          <span class="label label-warning">{{ n }}</span>
          </h5>
            <p class="list-group-item-text"><small>{{ entry.2 }}</small></p>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

{% endblock %}
