{% extends "base.html" %}
{% load static %}

{% block title %}
Wordbank: An open database of children's vocabulary development
{% endblock %}

{% block content %}
<link rel="stylesheet" href={% static "css/home.css" %}>
<script type="text/javascript" src={% static "third_party/d3.js" %}></script>
<script type="text/javascript" src={% static "third_party/d3.tip/d3.tip.js" %}></script>

<div class="jumbotron less-pad">
    <div class="row">
        <div class="col-md-2">
            <img class="left-image" src="{% static 'images/walrus.png' %}">
        </div>
        <div class="col-md-8 center">
            <h1>Wordbank</h1>
            <p>An open database of children's vocabulary development</p>
        </div>
        <div class="col-md-2 right">
            <img style="max-height: 60px;" src="{% static 'images/mcdi.png' %}">
            <a href="http://langcog.stanford.edu/" target="_blank">
                <img style="max-height: 100px;" src="{% static 'images/lab_logo.png' %}">
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6" style="padding-top: 60px;">

        <div class="row">

            <div class="col-md-6">
                <a href="/analyses?name=vocab_norms">
                    <div class="thumbnail">
                        <img src="{% static 'images/sample_plots/vocab_xkcd.png' %}">
                        <div class="caption">
                            <h3>Vocabulary Norms</h3>
                            <p>Explore vocabulary size growth curves for various languages and demographic groups.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="/analyses?name=item_trajectories">
                    <div class="thumbnail">
                        <img src="{% static 'images/sample_plots/items_xkcd.png' %}" alt="...">
                        <div class="caption">
                            <h3>Item Trajectories</h3>
                            <p>Explore trajectories of individual words, word categories, and grammar items.</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>

    <div class="col-md-6 center">
        <div class="lead lang-lead">Wordbank contains data from {{ data.num_children }} children
            <br> and {{ data.num_admins }} CDI administrations, across
            <br> {{ data.num_languages }} languages and {{ data.num_instruments }} instruments:</div>
        <div id="langStatsChart" align="center"></div>
    </div>

</div>

<div class="row">
    <hr>
</div>

<div class="row">
    <div class="col-md-12 lead">
<!--         <p><b>Wordbank</b> is an open database of information about children's vocabulary growth.</p>

        <p>Wordbank archives data from the <a href="http://mb-cdi.stanford.edu" target="_blank">MacArthur-Bates Communicative Development Inventory</a> (MB-CDI), a family of parent-report questionnaires. Wordbank enables researchers to analyze MB-CDI data
            in terms of aggregate vocabulary, individual items, demographic variables, and more. It provides interactive visualizations, exploratory reports, and data export tools.</p>
        <p>Wordbank is open access! You can use the <a href="https://github.com/langcog/wordbankr" target="_blank">wordbankr</a> package to access Wordbank data from <a href="http://www.r-project.org/" target="_blank">R</a>.
            <p>Feel free to report a bug or request a feature by <a href="https://github.com/langcog/wordbank/issues" target="_blank">logging an issue on GitHub</a>, and to <a href="mailto:wordbank-contact@stanford.edu" target="_blank">contact us</a> with
                any questions or comments.</p> -->

        {% include "homepage/homepage.html" %}

    </div>



</div>


<script>
var height = 425,
    width = 450,
    format = d3.format(",d");
    sortItems = function(a, b) {
  return b.value - a.value;
};
var bubble = d3.layout.pack()
    .sort(sortItems)
    .size([width, height])
    .padding(5);
var svg = d3.select("#langStatsChart").append("svg")
    .attr("width", width)
    .attr("height", height)
    .style("margin-top", "-25px")
    .style("margin-bottom", "-40px")
    .attr("class", "bubble");
var tip = d3.tip()
  .attr('class', 'd3-tip')
  .html(function(d) {
    // return format(d.label);
    return "<center>" + d.name + ": <br>" + d.label + "</center>"
  })
svg.call(tip);
root = {{ lang_stats|safe }};
var valueSort = classes(root)['children'].sort(function(a, b) {return (b.value > a.value) ? 1 : ((a.value > b.value) ? -1 : 0);});
var color = d3.scale.category20c().domain(valueSort.map(function(n) {return n.name}));
var node = svg.selectAll(".node")
    .data(bubble.nodes(classes(root))
    .filter(function(d) { return !d.children; }))
    .enter()
    .append("g")
    .attr("class", "node")
    .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
node.append("circle")
    .attr("r", function(d) { return d.r ; })
    .style("fill", function(d) { return color(d.name); });
node.append("text")
    .attr("dy", ".35em")
    .style("text-anchor", "middle")
    .text(function(d) { return d.name; })
    .style("font-size", function(d) { return Math.min(2 * d.r, (2 * d.r - 4) / this.getComputedTextLength() * 12) + "px"; })
    .on('mouseover', tip.show)
    .on('mouseout', tip.hide);
svg.call(tip);
// Returns a flattened hierarchy containing all leaf nodes under the root.
function classes(root) {
  var classes = [];
  function recurse(name, node) {
    if (node.children) node.children.forEach(function(child) { recurse(node.name, child); });
    else classes.push({name: node.name, value: Math.pow(node.count, 0.65), label: node.count});
  }
  recurse(null, root);
  return {children: classes};
}
</script>

{% endblock %}
