{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href={% static "css/home.css" %}>
<script type="text/javascript" src="{% static "third_party/d3.js" %}"></script>
<script type="text/javascript" src="{% static "third_party/d3.tip/d3.tip.js" %}"></script>

<div class="jumbotron" style="padding-bottom: 25px; padding-top: 25px;">
<div class="row">
    <div class="col-md-2">
      <img class="about-image" src="{% static 'images/walrus.png' %}">
    </div>
  <h1>Wordbank</h1>
  <p>An open database of children's vocabulary development</p>
<!--  <p><a class="btn btn-primary btn-lg">Learn more</a></p> -->
</div>
</div>


<div class="col-md-6">

  <div class="row">

  <div class="col-md-6">
    <a href="/reports?name=vocab_norms">
    <div class="thumbnail">
      <img src="{% static 'images/sample_plots/norms.png' %}">
      <div class="caption">
        <h3>Vocabulary Norms</h3>
        <p>Explore vocabulary size growth curves for various languages and demographic groups.</p>
      </div>
    </div>
    </a>
 </div>
 
  <div class="col-md-6">
    <a href="/reports?name=item_trajectories">
    <div class="thumbnail">
      <img src="{% static 'images/sample_plots/items.png' %}" alt="...">
      <div class="caption">
        <h3>Item Trajectories</h3>
        <p>Explore trajectories of individual words, word categories, and grammar items.</p>
      </div>
    </div>
    </a>
  </div>

  </div>

  <div class="row">

  <div class="col-md-4">
    <a href="/reports?name=admin_data">
    <div class="thumbnail">
      <div class="caption">
        <h4>Admin Data</h4>
        <p>Download per-child vocabulary data.</p>
      </div>
    </div>
    </a>
 </div>
 
  <div class="col-md-4">
    <a href="/reports?name=item_data">
    <div class="thumbnail">
      <div class="caption">
        <h4>Item Data</h4>
        <p>Download per-item acquisition data.</p>
      </div>
    </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="/reports">
    <div class="thumbnail">
      <div class="caption">
        <h4>More Analyses</h4>
        <p>Ongoing research using Wordbank.</p>
      </div>
    </div>
    </a>
  </div>

  </div>

</div>

<div class="col-md-6 center">
    <div class="lead langLead">Wordbank has over 40,000 CDI administrations,<br> across 14 languages and 23 instruments:</div>
    <div id="langStatsChart" align="center"></div>
</div>


<script type="text/javascript" src="{% static "js/home.js" %}"></script>

{% endblock %}
