{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href={% static "css/home.css" %}>

<div class="row">
    <div class="col-md-5">
      <div class=""><img class="about-image" src="{% static 'images/logo_original.jpg' %}"></div>
    </div>
	
    <div class="about"><b>Wordbank:</b> An open database of children's vocabulary growth</div>    
</div>

<div class="row">
	<div class="col-xs-6 col-md-4 sub-topic">
  		<a href="/stats" class="sub-topic-button"><span class="glyphicon glyphicon-stats"></span> Statistics</a>
  		<div class="sub-topic-description">
      		See statistics on the Wordbank database.
    	</div>
    </div>
  
	<div class="col-xs-6 col-md-4 sub-topic">
    	<a href="/reports" class="sub-topic-button"><span class="glyphicon glyphicon-folder-close"></span> Reports</a>
		<div class="sub-topic-description">
      		Explore analyses of vocabulary growth over the entire database.
		</div>
  	</div>
  
	<div class="col-xs-6 col-md-4 sub-topic">
		<a href="/search" class="sub-topic-button"><span class="glyphicon glyphicon-search"></span> Query</a>
		<div class="sub-topic-description">
			Download data or explore reports on subsets of the data.
		</div>
	</div>
</div>


<div class="row">
  <div class="col-xs-6 sub-topic" style="margin-top:100px">
    <a href="/about" class="sub-topic-button"><span class="glyphicon glyphicon-user"></span> About</a>
  <div class="sub-topic-description">
    Who we are and what we do.
  </div>
  </div>
  <div class="col-xs-6 sub-topic"  style="margin-top:100px">
    <a href="contribute" class="sub-topic-button"><span class="glyphicon glyphicon-cloud-upload"></span> Contribute</a>
  <div class="sub-topic-description">
    Find out how to contribute your data.
  </div>
  </div>
  </div>


{% endblock %}
