{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="tabs">
</div>

<div id="wait" class="loader" align="center">
    <p class="lead" style="margin-top:100px;">Please wait...</p>
    <img src="{% static 'images/loading.gif' %}">
</div>

<div id="content">
    <iframe style="border:none; width:1100px; height:1000px" id="report"  src="http://{{ shinyServerIP }}/{{ id }}"></iframe>
</div>

<script>
    $('#content').hide();

    var displayReport = function() {
        console.log('loaded!');
        $('#wait').hide();
	    $('#content').show();
    }

    $('#report').load(function() {
        displayReport();
    });
</script>

<script>
    $.getJSON("static/json/reports.json", function(data) {
	var currentApp = window.location.search.split('=')[1];
        var tabs = $('#tabs');
        var ul = $('<ul>').attr('class', "nav nav-tabs").appendTo(tabs);
        for (var i in data) {
            var app = data[i];
	    var li = $('<li>').attr('role', "presentation").appendTo(ul)
	    if (app['app_directory'] == currentApp) {
		li.attr('class', "active");
	    }
            var link = $('<a>').attr('href', '/reports?id=' + app['app_directory'])
			       .text(app['app_name']).appendTo(li);
            };
        }).error(function(error){console.log(error);}).fail(function(){console.log(arguments);})
</script>

{% endblock %}