{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="tabs">
</div>

<iframe style="border:none; width:1100px; height:1000px" id="report"  src="http://{{ shinyServerIP }}/{{ id }}"></iframe>


<script>
    $.getJSON("static/json/reports.json", function(data) {
	var currentApp = window.location.search.split('=')[1];
	console.log(currentApp);
        var tabs = $('#tabs');
        var ul = $('<ul>').attr('class', "nav nav-tabs").appendTo(tabs);
        for (var i in data) {
            var app = data[i];
	    console.log(app);
	    var li = $('<li>').attr('role', "presentation").appendTo(ul)
	    if (app['app_directory'] == currentApp) {
		console.log('check');
		li.attr('class', "active");
	    }
            var link = $('<a>').attr('href', '/reports?id=' + app['app_directory'])
			       .text(app['app_name']).appendTo(li);
            };
        }).error(function(error){console.log(error);}).fail(function(){console.log(arguments);})
</script>

{% endblock %}

