{% extends "base.html" %}

{% load static %}

{% block title %}Statistics{% endblock %}

{% block content %}
<link rel="stylesheet" href={% static "third_party/dc.css" %}>
<link rel="stylesheet" href={% static "css/stats.css" %}>
<input type='hidden' id='data' value='{{ data }}'/>

<h3 align="center">Database Statistics</h3>
<br />
<!-- <div class="row">
  <div class="col-md-6">
    <h5>Data Source</h5>
    <div id="sourceChart"></div>
  </div>
  <div class="col-md-6">
    <h5>Ethnicity</h5>
    <div id="ethnicityChart"></div>
  </div>
</div> -->
<div class="row">
  <div class="col-md-6">
    <h5 align="center">Children in the Database</h5>
    <div id="ageChildChart"></div>
  </div>
  <div class="col-md-3">
    <h5 align="center">Instruments</h5>
    <div id="instrumentsChart"></div>
  </div>
  <div class="col-md-3">
    <h5 align="center">Gender</h5>
    <div id="genderChart"></div>
  </div>
</div>
<div class="row">
<div class="col-md-6">
    <h5 align="center">Mean comprehension vocabulary by age (Words & Gestures)</h5>
    <div id="wgMeanComprehensionChart"></div>
    <!-- <div id="ageMedianComprehensionChartRange"></div> -->
  </div>
  <div class="col-md-6">
    <h5 align="center">Mean production vocabulary by age (Words & Gestures)</h5>
    <div id="wgMeanProductionChart"></div>
    <!-- <div id="ageMedianProductionChartRange"></div> -->
  </div>
</div>
<div class="row">
<div class="col-md-6">
</div>
  <div class="col-md-6">
    <h5 align="center">Mean production vocabulary by age (Words & Sentences)</h5>
    <div id="wsMeanProductionChart"></div>
</div>
    <!-- <div id="ageMedianComprehensionChartRange"></div> -->
  </div>
<!-- <div class="row">
  <div class="col-md-6">
    <h5>Mean number of words produced by age in months.</h5>
    <div id="ageChart"></div>
    <div id="ageChartRange"></div>
  </div>
  <div class="col-md-6">
    <h5>Mom's education to the number of words the child can produce.</h5>
    <div id="momedChart"></div>
    <div id="momedChartRange"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5>Age of child to the average number of words they can comprehend.</h5>
    <div id="ageComprehensionChart"></div>
    <div id="ageComprehensionChartRange"></div>
  </div>
  <div class="col-md-6">
    <h5>Mom's education to the number of words the child can comprehend.</h5>
    <div id="momedComprehensionChart"></div>
    <div id="momedComprehensionChartRange"></div>
  </div>
</div> -->


<div class="row">
</div>

<script type="text/javascript" src="{% static "third_party/d3.js" %}"></script>
<script type="text/javascript" src="{% static "third_party/crossfilter.js" %}"></script>
<script type="text/javascript" src="{% static "third_party/dc.js" %}"></script>
<script type="text/javascript" src="{% static "js/stats.js" %}"></script>

{% endblock %}
